*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(Images/bg5.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing:border-box;
    position: relative;
}
.logo{
    width: 160px;
    cursor:pointer;
}

.btn{
    display: inline-block;
    background: linear-gradient(45deg, #e25914db,#dc3030);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing:border-box;
    color: aliceblue;
    text-decoration: none;
}
.content{
    padding-left: 45%;
    padding-top: 20%;
}    
    

