*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(Images/bg5.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;


}
.navbar{
    width: 100%;
    height: 15vh;
    margin:0%;
    display: flex;
    align-items: center;
    
}
.logo{
    width: 160px;
    cursor:pointer;
}
.cart{
    width: 50px;
    cursor: pointer;
    
    
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #dc3030;
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #dc3030;
}
.content p{
    font-size: 20px;
    color: #e25914db;
}
.content h2{
        font-size: 60px;
        font-weight: 100;
        color: #dc3030;
        padding-left:0;
        margin-top:50px;
        margin-bottom: 15px;
        
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, #e25914db,#dc3030);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fbf4f4;
    
}
.social-links{
    transform: rotate(270deg);
    position: absolute;
    left: -90px;
    bottom: 210px;
}
.social-links a{
    text-decoration: none;
    color: #dc3030;
    padding-right: 20px;
    font-size:14px;
}
footer{
    text-align: center;
    padding: 1px;
    background-color: darksalmon;
    color: aliceblue;
    bottom: 0;
    width: 100%;
    position: fixed;
    font-family: 'Courier New';
}
